body {
    background-color: #FBFBFD;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-top:6%;
    height: 1000px;
    width:100%;
}
.timer {
    background-color: #FBFBFD;
    font-family: monospace;
    font-size: 5vh;
    color: #000000;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
   margin: 50px;
   
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 800px;
    height: 500px;
    max-width: 80%;
    background-color: #2C2654;
    border-radius: 15px;
    padding: 30px;
}
.btn {
    font-family: monospace;
    color: #2C2654;
    font-size:2vh;
    background-color: #EB583A;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    transition: all .5s ease;
}
.btn-options {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn:hover {
    color: #EB583A;
    background-color: #000000;
}
.start-btn, .next-btn {
    font-size: 4vh;
    padding: 15px 25px;
}
.hide {
    display: none;
}
.correct {
background-color: aquamarine;
}
.wrong {
   background-color: tomato;
}
.white {
    background-color: #FBFBFD;
}
